<h1 class="mt-3">Selectores anidados</h1>
<hr>

<form [formGroup]="myForm"> <!--Conexión del formulario declarado desde TS-->
    <!-- Region de paises -->
    <div class="row mb-3">
        <div class="col">
           <label class="form-label">Continente: </label> 
           <select formControlName="region" class="form-control">
            <option value="">-- Selector de continentes --</option>
            <option value="">Africa</option>
           </select>
        </div>
    </div>

</form>

<h3>Formulario</h3>
<code>
    {{myForm.value | json}}
</code>
<p>
    i form valid: {{ myForm.valid }}
</p>
