<h1 class="mt-3">Selectores anidados</h1>
<hr>

<form [formGroup]="myForm"> <!--Conexión del formulario declarado desde TS-->
    <!-- Region de paises -->
    <div class="row mb-3">
        <div class="col">
           <label class="form-label">Continente: </label> 
           <select formControlName="region" class="form-control">
            <option value="">-- Selector de continentes --</option>
            <!-- Recordatorio que con el ngFor se manda a llamar los datos que se estan mandado desde el arreglo que se declara y se renombra desde la calse TS -->
            <!-- Tambien dentro del selector en el campo del texto tenemos que poner el sufijo con el que se esta mandando el valor -->
            <option *ngFor="let region of regions" [value]="region">{{region}}</option>
           </select>
        </div>
    </div>

        <!-- Countries -->
        <div class="row mb-3">
            <div class="col">
               <label class="form-label">Pais: </label> 
               <select formControlName="country" class="form-control">
                <option value="">-- Selector de Paises --</option>
                <!-- Con este ngfor se manda a llamar el arreglo de la referencia que se tiene en la interface y el nombre de los paises que se desclaran desde el TS -->
                <option *ngFor="let country of countriesByRegion" [value]="country.cca3">{{country.name}}</option>
               </select>
            </div>
        </div>

</form>

<h3>Formulario</h3>
<code>
    {{myForm.value | json}}
</code>
<p>
    i form valid: {{ myForm.valid }}
</p>
